/* CSS */
.carousel img {
  min-width: 100%;
  height: auto;
}

.navbar-brand img {
	max-height: 100%;
	height: 100%;
	width: auto;
}

.panel-body {
	background: #F9F9F9;
}

/* Square Corners on Various Items*/
.btn,
.form-control,
.input-group,
.input-group-addon,
.modal-content,
.modal-header,
.modal-body,
.modal-footer,
.navbar,
.panel,
.panel-heading,
.panel-body {
	border-radius: 0;
}

/* Show/Hide Fields */
.box {
    display: none;
}

#navbarSearch {
	display: none;
}

#logoutButton {
	display: none;
}

/* Table Sorter CSS */
table.tablesorter {
	font-family:sans-serif;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 10pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}